{% extends "catalog/tmp/base.html" %}


{% block content %}

    <h1>UGCP</h1>
    {% if request.user.is_authenticated %}
        Hello {{ request.user.username }},
        <a href="{% url "account_logout" %}">Logout</a>
        <p><a href="{% url "account_change_password" %}">Change your password.</a></p>
        {% else %}
        <a href="{% url "account_login" %}">Log-in</a> or <a href="{% url 'account_signup' %}">Sign Up.</a>
    {% endif %}
     
    {% for item in content %}        
        <div style="text-align:center">
            <p><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></p>
            <img src="{{ item.content.url }}" width="600" height="600" alt="...">
        </div>
    {% endfor %}

{% endblock %}