{% extends "catalog/base.html" %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row row-eq-spacing-lg">
            <div class="col-lg-9">
                <!-- Card with no padding with multiple content containers nested inside of it -->
                {% for item in content %}
                <div class="w-600 mw-full"> <!-- w-600 = width: 60rem (600px), mw-full = max-width: 100% -->
                    <div class="card p-0"> <!-- p-0 = padding: 0 -->
                            <!-- First content container nested inside card -->
                    <div class="content">
                        <h2 class="card-title">
                            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                        </h2>

                    </div>
                        <div class="text-center">
                    <img src="{{ item.content.url }}" width="600" height="900" class="img-fluid rounded-top" alt="..."> <!-- rounded-top = rounded corners on the top -->
                        </div>

                    <!-- Second content container nested inside card (comments) -->
                    <div class="content">
                        <div>
                            <span class="text-muted">
                                <i class="fa fa-clock-o mr-5" aria-hidden="true"></i> May 4th, 2020 <!-- mr-5 = margin-right: 0.5rem (5px) -->
                            </span>
                        </div>
                        <div>
                            <span class="badge">
                                <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i> 5 comments <!-- text-primary = color: primary-color, mr-5 = margin-right: 0.5rem (5px) -->
                            </span>
                            <span class="badge ml-5"> <!-- ml-5 = margin-left: 0.5rem (5px) -->
                                <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 124 likes <!-- text-danger = color: danger-color, mr-5 = margin-right: 0.5rem (5px) -->
                            </span>
                        </div>
                    </div>
                    
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="content">
                    <h2 class="content-title font-size-20">
                        On this page
                    </h2>
                    <div class="fake-content"></div>
                    <div class="fake-content"></div>
                    <div class="fake-content"></div>
                    <div class="fake-content"></div>
                    <div class="fake-content"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}