<div class="sidebar">
    <div class="sidebar-menu">
        <h5 class="sidebar-title">Getting started</h5>
        <div class="sidebar-divider"></div>
        <a href="#" class="sidebar-link sidebar-link-with-icon active">
            <span class="sidebar-icon">
                <i class="fa fa-fire" aria-hidden="true"></i>
            </span>
            <b>Hot</b>
        </a>
        <a href="#" class="sidebar-link sidebar-link-with-icon">
            <span class="sidebar-icon">
                <i class="fa fa-level-up" aria-hidden="true"></i>
            </span>
            <b>Trending</b>
        </a>
        <br>
        <h5 class="sidebar-title">Components</h5>
        <div class="sidebar-divider"></div>
        <a href="#" class="sidebar-link sidebar-link-with-icon">
            <span class="sidebar-icon">
                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
            </span>
            File explorer
        </a>
        <a href="#" class="sidebar-link sidebar-link-with-icon">
            <span class="sidebar-icon">
                <i class="fa fa-table" aria-hidden="true"></i>
            </span>
            Spreadsheet
        </a>
        <a href="#" class="sidebar-link sidebar-link-with-icon">
            <span class="sidebar-icon">
                <i class="fa fa-map-o" aria-hidden="true"></i>
            </span>
            Map
        </a>
        <a href="#" class="sidebar-link sidebar-link-with-icon">
            <span class="sidebar-icon">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
            </span>
            Messenger
        </a>
    </div>
</div>